.background-color {
    background: #254461 url("/whale_16x9.jpg") no-repeat center center fixed;
    background-size: cover;
}

.background-grayscale {
    background: #666666 url("/whale_grayscale_16x9.jpg") no-repeat center center fixed;
    background-size: cover;
}

.btn-collapse {
    /* just a marker */
}

.byline {
    color: #999;
    font-size: 86%;
    text-align: right;
}

.copyright {
    color: #999;
    font-size: 86%;
    text-align: center;
}

.headshot {
    border-radius: 50%;
    margin-right: 8px;
    margin-left: 8px;
}

.margin-bottom-none {
    margin-bottom: 0;
}

.masthead {
    background: #303030;
    border-radius: 0 0 12px 12px;
    padding-top: 6px;
    padding-bottom: 0;
    text-align: center;
}

.masthead-h1 {
    margin-bottom: 0;
}

.masthead-lead {
    color: #999;
    margin-bottom: 10px;
}

.masthead-logo {
    border-radius: 10%;
}