.background-color {
    background: #254461 url("/whale_16x9.jpg") no-repeat center center fixed;
    background-size: cover;
}

.background-grayscale {
    background: #666666 url("/whale_grayscale_16x9.jpg") no-repeat center center fixed;
    background-size: cover;
}

.margin-bottom-none {
    margin-bottom: 0;
}